<div id="article-share-box" class="article-share-box-on">
    <div class="article-share-links">
        <a href="https://twitter.com/intent/tweet?url=<%- post.permalink %>" class="fa fa-twitter article-share-twitter" target="_blank" title="Twitter"></a>
        <a href="https://www.facebook.com/sharer.php?u=<%- post.permalink %>" class="fa fa-facebook article-share-facebook" target="_blank" title="Facebook"></a>
        <a href="http://pinterest.com/pin/create/button/?url=<%- post.permalink %>" class="fa fa-pinterest article-share-pinterest" target="_blank" title="Pinterest"></a>
        <a href="https://plus.google.com/share?url=<%- post.permalink %>" class="fa fa-google article-share-google" target="_blank" title="Google+"></a>
    </div>
</div>
